.section {
  width: 100%;
  padding: 22px;
  overflow-y: auto;
  position: relative; /* Устанавливаем контекст для sticky */
  display: flex;
  flex-direction: column;
}

.list {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.item {
  width: calc(100% / 5);
  overflow: hidden;
  text-align: center;
}

.image {
  width: 100%;
  height: 18vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  position: sticky; /* Делаем заголовок фиксированным */
  top: 0; /* Фиксируем заголовок у верхней границы секции */
  background-color: var(--dark);
  z-index: 2; /* Устанавливаем приоритет отображения */
  padding: 10px;
}

@media (max-width: 600px) {
  .item {
    width: 70%;
  }
  .list {
    flex-wrap: wrap;
    max-height: 240px;
  }
  .section {
    padding-top: 0px;
  }
  .image {
    height: 50vw;
  }
}
