.sidebar {
  width: 304px;
  padding: 0px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative; /* Устанавливаем контекст для sticky */
  max-height: 400px;
}

.title {
  font-weight: 600;
  line-height: 20px;
  position: sticky; /* Делаем заголовок фиксированным */
  top: 0; /* Фиксируем заголовок у верхней границы секции */
  background-color: var(--dark);
  z-index: 1; /* Устанавливаем приоритет отображения */
  padding: 10px 0; /* Добавляем отступы */
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

@media (max-width: 850px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: 250px;
  }
}
